<template>
  
    <AndresComponent/>
  
</template>

<script>
import AndresComponent from '../components/AndresComponent.vue';

export default {
    name: 'AndresVue',
    components: {
      AndresComponent
    },
  };


</script>

<style cooped>



</style>