<template>
    <h1>Crear Producto</h1>
    <CreateComponent/>
</template>

<script>
import CreateComponent from '@/components/CreateComponent.vue'

export default {
  name: 'App',
  components: {
    CreateComponent,
  }
}
        
</script>

<style>

</style>