<template>
    <h1>Es el Home</h1>
    <CreateComponent />
</template>

<script>
import CreateComponent from '@/components/CreateComponent.vue'

export default {
  name: 'App',
  components: {
    CreateComponent,
  }
}
</script>

<style>

</style> 