<template>
    <h1>Es el navegador</h1>
   <NavegadorVue />
</template>

<script>
import NavegadorVue from './../components/NavegadorVue.vue'

export default {
  name: 'SantiagoOrrico',
  components: {
    NavegadorVue
  }
}
</script>

<style>

</style>
