<template>
    <div class="contend">
      <div class="contend__shipping">
        <h1 class="text__shipping">Shipping Address</h1>
        <h3 class="text__shipping">John Wick</h3>
        <h3 class="text__shipping">Punta del Este</h3>
        <h3 class="text__shipping">Param, Lucresio #534</h3>
        <h3 class="text__shipping">Uruguay</h3>
      </div>
      <div class="contend__boton">
        <button class="boton">Changes</button>
      </div>
    </div>


    <div class="contend">
      <div class="contend__shipping">
        <h1 class="text__shipping2">PAYMENT METHOD</h1>
        <h3 class="text__shipping"><i class="fa-solid fa-credit-card"></i> Mastercard <span>Ending in 1252</span></h3>
        <h3 class="text__shipping"><i class="fa-solid fa-gift"></i> $ 53.21 <span>Gift Card Balance</span></h3>
        <h3 class="text__shipping"><input type="checkbox">Bilind address same as Shipping Address</h3>
      </div>
      <div class="contend__boton">
        <button class="boton">Changes</button>
      </div>
    </div>











  </template>
  
  <script>

  export default {
      name: 'AndresComponent',
      
  }
  </script>
  
  <style>
  .contend{
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #000;
    border-radius: 18px;
    width: 90%;
    margin: 22px 36px;
  }
  .contend__shipping{
  
   width: 50%;
   font-size: 16px;
   color: #000;
   border-radius: 10px;
   text-align: start;
   padding: 10px 10px;
  }
  .text__shipping{
    text-align: start;
    color: aqu#000;
    margin: 12px;
    font-family: 'Cabin', sans-serif;
  }

  .text__shipping2{
    text-align: start;
    font-size: 30px;
    margin: 17px 10px;
    color: aqu#000;
    font-family: 'Cabin', sans-serif;
  }
  
  .contend__boton{
    display: flex;
    align-items: center;
    padding: 0px 120px;
  }
  .boton{
    width: 100px;
    height: 30px;
    color: black;
    border: 2px solid #000;
    background:transparent;
    border-radius: 10px;
  }
  .boton:hover{
    background: #d7dbde;
  }
  span{
    color: #60695c;
  }
  @import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
  </style>