<template>
    title<input type="text" class ="text" v-model="title">
    price<input type="text" class ="text" v-model="price">
    description<input type="text" class ="text" v-model="description">
    image<input type="text" class ="text" v-model="image">
    category<input type="text" class ="text" v-model="category">
</template>

<script>
import axios from 'axios';

export default {
    name: 'CreateComponent',
    category: "",
    data() {
        return {
            respuestaApi: "",
            title: this.title,
            price: this.price,
            description: this.description,
            image: this.image,
            category: this.category

        };
    },
    methods: {
        postProducts() {
            let body = 
            {       
                    "title": "test product",
                    "price": 13.5,
                    "description": "lorem ipsum set",
                    "image": "https: //i.pravatar.cc",
                    "category": "electronic"
            }
            axios.post(`https://fakestoreapi.com/products`, body).then(response => {
                this.respuestaApi = response.data;
            }).catch((error) => {
                console.log(error);
            });
        },
    },
}
        
        
</script>

<style scoped>
* {
    box-sizing: border-box;
    margin: 0;
    padding: 2px;
    
}
.info__cards{
    margin-top:42px;
    margin-bottom: 48px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: center;
    column-gap: 20px;
    row-gap: 20px;
}

.cards__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 260px;
    height: 400px;
    border-radius: 20px;

}

.cards__card:hover {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
}

.cards__card__image {
    width: auto;
    height: 250px;
    overflow: hidden;
    
}

.cards__card__image img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    
}

.cards__card__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

h3 {
    align-self: center;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: 16px 0 0 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h4 {
    align-self: center;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: 6px 0 2px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}
</style>