<template>
  <section class="navbar">
    <h1 class="navbar__h1">Search items</h1>
        <nav > 
            <input type="search" class="navbar__barra" placeholder="Apple Watch, Samsung S21, Macbook Pro, ..."/>
        </nav>
    </section>
</template>

<style>
.navbar
{ 
  width: 523px;
  height: 99px;
  radius: 13px;
  padding: 8px;
  gap: 10px;
  background-color: green;
  color: #FFFFFF;
  display: flex;

}
.navbar__barra
{
width: 507px;
height: 56px;
radius: 13px;
padding: 0px, 8px, 0px, 8px;
gap: 10px;

}
.navbar__h1
{
width: 94px;
height: 19px;
padding: 0px, 8px, 0px, 8px;
gap: 10px;


}
</style>
  
<script>

export default {
  name: 'NachoVue',
  data() {
    return {
      respuestaApi: "",
      price: 0,
      oldPrice: 0,
      rate: "",
      count: "",
    };
  },
  }

</script>
  
