<template>
<div class="nav">

                <div class="nav-icono">

                        <div class="icono1">
                                <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="Group 1">
                                <path id="Union" fill-rule="evenodd" clip-rule="evenodd" d="M13.8793 0.981992H6.39921L5.49446 5.6847H4.49446L5.58679 0.00699238H6.18755L6.1889 0H15.0544L15.053 0.00699238H15.0669L13.9746 5.6847H12.9746L13.8793 0.981992Z" fill="#105E46"/>
                                <rect id="Rectangle 3" width="12.3346" height="14.8015" transform="matrix(1 0 -0.188924 0.981992 3.66547 6.17422)" fill="#12805D"/>
                                <rect id="Rectangle 2" width="12.3346" height="14.8015" transform="matrix(1 0 -0.188924 0.981992 2.79633 5.40341)" fill="#02D693"/>
                                </g>
                                </svg>
                        </div>
                                
                        <div class="icono2">
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="Icon">
                                <path id="Vector" d="M4.125 7.83417H12H19.875M4.125 12.7092H19.875M4.125 17.5842H19.875" stroke="#1A1F16" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
                                </g>
                                </svg>
                        </div>

                                
                        <div class="casa">
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="Icon">
                                <path id="Vector" d="M2.6666 21.2806H3.1666C3.21081 21.2806 3.2532 21.2618 3.28446 21.2283C3.31571 21.1948 3.33327 21.1494 3.33327 21.102V13.4909C3.33289 13.4625 3.33885 13.4344 3.35064 13.4089C3.36243 13.3835 3.37972 13.3614 3.40107 13.3445C3.42243 13.3277 3.44722 13.3165 3.4734 13.312C3.49959 13.3075 3.5264 13.3097 3.55161 13.3185C3.93396 13.4473 4.33101 13.5191 4.73162 13.5319C4.78079 13.5319 4.82746 13.5342 4.87329 13.5342C5.64383 13.5361 6.40198 13.3265 7.0754 12.9252C7.12637 12.8949 7.18374 12.8789 7.24207 12.8789C7.3004 12.8789 7.35776 12.8949 7.40874 12.9252C8.08201 13.3265 8.84002 13.5361 9.61043 13.5342C10.3765 13.5353 11.1298 13.3232 11.7963 12.9185C11.8477 12.8874 11.9058 12.871 11.9648 12.871C12.0239 12.871 12.082 12.8874 12.1334 12.9185C12.8099 13.3247 13.5729 13.5369 14.3484 13.5346C15.1196 13.5352 15.8776 13.3197 16.5472 12.9096C16.599 12.878 16.6576 12.8614 16.7172 12.8614C16.7768 12.8614 16.8354 12.878 16.8872 12.9096C17.5567 13.3197 18.3147 13.5352 19.086 13.5346C19.1314 13.5346 19.1772 13.5346 19.2264 13.5324H19.2289C19.6436 13.519 20.0543 13.4425 20.4489 13.3052C20.4739 13.2965 20.5004 13.2943 20.5263 13.2987C20.5523 13.3031 20.5769 13.3141 20.5981 13.3306C20.6194 13.3471 20.6366 13.3688 20.6486 13.3939C20.6605 13.4189 20.6668 13.4467 20.6668 13.4748V21.102C20.6668 21.1494 20.6844 21.1948 20.7156 21.2283C20.7469 21.2618 20.7893 21.2806 20.8335 21.2806H21.3126C21.6727 21.2806 21.9835 21.577 21.9993 21.9627C22.0034 22.0591 21.9892 22.1554 21.9575 22.2458C21.9259 22.3361 21.8775 22.4186 21.8153 22.4884C21.7531 22.5582 21.6783 22.6137 21.5955 22.6516C21.5127 22.6896 21.4235 22.7091 21.3335 22.7092H2.68743C2.32743 22.7092 2.01659 22.4127 2.00076 22.027C1.9967 21.9306 2.01092 21.8344 2.04255 21.744C2.07419 21.6537 2.12257 21.5711 2.1848 21.5014C2.24703 21.4316 2.3218 21.3761 2.40461 21.3381C2.48741 21.3002 2.57654 21.2806 2.6666 21.2806V21.2806ZM13.3334 18.2449C13.3334 18.2922 13.3509 18.3377 13.3822 18.3712C13.4135 18.4046 13.4559 18.4235 13.5001 18.4235H17.1668C17.211 18.4235 17.2534 18.4046 17.2846 18.3712C17.3159 18.3377 17.3334 18.2922 17.3334 18.2449V15.3877C17.3334 15.2457 17.2808 15.1094 17.187 15.0089C17.0932 14.9085 16.966 14.852 16.8334 14.852H13.8334C13.7008 14.852 13.5736 14.9085 13.4798 15.0089C13.3861 15.1094 13.3334 15.2457 13.3334 15.3877V18.2449ZM6.83331 21.2806H9.83335C9.87755 21.2806 9.91994 21.2618 9.9512 21.2283C9.98246 21.1948 10 21.1494 10 21.102V15.3877C10 15.2457 9.94734 15.1094 9.85357 15.0089C9.7598 14.9085 9.63262 14.852 9.50001 14.852H7.16665C7.03404 14.852 6.90686 14.9085 6.81309 15.0089C6.71932 15.1094 6.66664 15.2457 6.66664 15.3877V21.102C6.66664 21.1494 6.6842 21.1948 6.71546 21.2283C6.74672 21.2618 6.78911 21.2806 6.83331 21.2806ZM2.14284 8.88238L3.9312 4.48551C4.39953 3.40649 5.46913 2.70917 6.65623 2.70917H17.3459C18.533 2.70917 19.6026 3.40649 20.071 4.48551L21.8593 8.88238C22.2343 9.7489 21.7389 10.6386 21.7385 10.6391L21.7268 10.6592C21.7064 10.694 21.6702 10.7485 21.6481 10.7833C21.646 10.786 21.6443 10.7891 21.6422 10.7922L21.4339 11.0623C21.4261 11.0725 21.4178 11.0822 21.4089 11.0913L21.2006 11.3069L21.1831 11.323C21.0607 11.4354 20.9298 11.5366 20.7918 11.6257V11.6279C20.3383 11.9222 19.8217 12.0863 19.2918 12.1043H19.1889C18.3871 12.1059 17.6145 11.7819 17.0268 11.1976L17.013 11.1837C16.9516 11.1218 16.8705 11.0872 16.7861 11.0872C16.7018 11.0872 16.6206 11.1218 16.5593 11.1837L16.5455 11.1976C15.9515 11.7809 15.175 12.1045 14.3692 12.1045C13.5635 12.1045 12.787 11.7809 12.193 11.1976C12.1313 11.1364 12.0505 11.1025 11.9665 11.1025C11.8825 11.1025 11.8017 11.1364 11.74 11.1976C11.1478 11.779 10.3741 12.1024 9.57083 12.1043C8.76752 12.1062 7.99254 11.7865 7.3979 11.2078C7.3372 11.1476 7.25752 11.1141 7.17478 11.1141C7.09204 11.1141 7.01235 11.1476 6.95165 11.2078C6.35638 11.79 5.57801 12.1102 4.77204 12.1043H4.66829C4.15168 12.0836 3.64902 11.9189 3.20994 11.6266C3.17035 11.6011 3.13244 11.5743 3.0941 11.5476C2.79796 11.3337 2.54023 11.0643 2.33326 10.7525L2.26076 10.6351C2.25354 10.6232 2.24687 10.6107 2.24076 10.5976C2.17159 10.4467 1.80075 9.67077 2.14284 8.88238V8.88238Z" fill="white"/>
                                </g>
                                </svg>
                        </div>
                                
                                
                                
                        <div class="tienda">
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="Icon">
                                <path id="Vector" d="M21.3117 8.64979C21.1727 8.50977 21.0073 8.39873 20.825 8.32309C20.6428 8.24746 20.4473 8.20873 20.25 8.20917H17.25V7.45917C17.25 6.06678 16.6969 4.73142 15.7123 3.74686C14.7277 2.76229 13.3924 2.20917 12 2.20917C10.6076 2.20917 9.27226 2.76229 8.28769 3.74686C7.30312 4.73142 6.75 6.06678 6.75 7.45917V8.20917H3.75C3.35218 8.20917 2.97064 8.3672 2.68934 8.64851C2.40804 8.92981 2.25 9.31134 2.25 9.70917V19.8342C2.25 21.6623 3.79688 23.2092 5.625 23.2092H18.375C19.2593 23.2094 20.1086 22.8637 20.7413 22.2459C21.0596 21.9421 21.3132 21.577 21.4865 21.1726C21.6599 20.7682 21.7495 20.3328 21.75 19.8928V9.70917C21.7506 9.51238 21.7122 9.31743 21.637 9.13558C21.5617 8.95374 21.4512 8.78863 21.3117 8.64979V8.64979ZM8.25 7.45917C8.25 6.46461 8.64509 5.51078 9.34835 4.80752C10.0516 4.10426 11.0054 3.70917 12 3.70917C12.9946 3.70917 13.9484 4.10426 14.6517 4.80752C15.3549 5.51078 15.75 6.46461 15.75 7.45917V8.20917H8.25V7.45917ZM17.25 11.9592C17.25 13.3516 16.6969 14.6869 15.7123 15.6715C14.7277 16.656 13.3924 17.2092 12 17.2092C10.6076 17.2092 9.27226 16.656 8.28769 15.6715C7.30312 14.6869 6.75 13.3516 6.75 11.9592V11.2092C6.75 11.0103 6.82902 10.8195 6.96967 10.6788C7.11032 10.5382 7.30109 10.4592 7.5 10.4592C7.69891 10.4592 7.88968 10.5382 8.03033 10.6788C8.17098 10.8195 8.25 11.0103 8.25 11.2092V11.9592C8.25 12.9537 8.64509 13.9076 9.34835 14.6108C10.0516 15.3141 11.0054 15.7092 12 15.7092C12.9946 15.7092 13.9484 15.3141 14.6517 14.6108C15.3549 13.9076 15.75 12.9537 15.75 11.9592V11.2092C15.75 11.0103 15.829 10.8195 15.9697 10.6788C16.1103 10.5382 16.3011 10.4592 16.5 10.4592C16.6989 10.4592 16.8897 10.5382 17.0303 10.6788C17.171 10.8195 17.25 11.0103 17.25 11.2092V11.9592Z" fill="#1A1F16"/>
                                </g>
                                </svg>
                        </div>     
                

                </div>


        <div class="salida">
                
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Icon">
                <path id="Vector" d="M7.5 12C7.5 11.8011 7.57902 11.6103 7.71967 11.4697C7.86032 11.329 8.05109 11.25 8.25 11.25H15V6.375C15 4.875 13.4161 3.75 12 3.75H4.875C4.17904 3.75074 3.51179 4.02755 3.01967 4.51967C2.52755 5.01179 2.25074 5.67904 2.25 6.375V17.625C2.25074 18.321 2.52755 18.9882 3.01967 19.4803C3.51179 19.9725 4.17904 20.2493 4.875 20.25H12.375C13.071 20.2493 13.7382 19.9725 14.2303 19.4803C14.7225 18.9882 14.9993 18.321 15 17.625V12.75H8.25C8.05109 12.75 7.86032 12.671 7.71967 12.5303C7.57902 12.3897 7.5 12.1989 7.5 12ZM21.5302 11.4698L17.7802 7.71984C17.6384 7.58513 17.4495 7.51114 17.254 7.51364C17.0584 7.51614 16.8715 7.59495 16.7332 7.73325C16.5949 7.87155 16.5161 8.0584 16.5136 8.25398C16.5111 8.44955 16.5851 8.63836 16.7198 8.78016L19.1892 11.25H15V12.75H19.1892L16.7198 15.2198C16.6473 15.2888 16.5892 15.3716 16.5492 15.4633C16.5091 15.555 16.4878 15.6539 16.4865 15.754C16.4852 15.8541 16.504 15.9534 16.5417 16.0461C16.5794 16.1389 16.6353 16.2231 16.7061 16.2939C16.7769 16.3647 16.8611 16.4206 16.9539 16.4583C17.0466 16.496 17.1459 16.5148 17.246 16.5135C17.3461 16.5122 17.445 16.4909 17.5367 16.4508C17.6284 16.4108 17.7112 16.3527 17.7802 16.2802L21.5302 12.5302C21.6707 12.3895 21.7497 12.1988 21.7497 12C21.7497 11.8012 21.6707 11.6105 21.5302 11.4698Z" fill="white"/>
                </g>
                </svg>
        </div>
        
</div>        
        
</template>   
    
<style scoped>
 .salida{
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;

        border-radius: 10px;
        background: var(--ui-danger, #E5252C);
        width: 40px;
        height: 40px;
 }

 .casa{
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        
        border-radius: 10px;
        background: var(--font-dark, #1A1F16);
        width: 40px;
        height: 40px;
 }

 .icono1{
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;

        border-radius: 4px;
        background: var(--ui-white, #FFF);
        width: 30px;
        height: 36.70915;
 }
 
 .icono2{
        width: 24px;
        height: 24px;

        display: flex;
        padding: 8px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        
        width: 40px;
        height: 40px;
 }

 .tienda{
        
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;

        border-radius: 10px;
        width: 24px;
        height: 24px;
        
        width: 40px;
        height: 40px;
 }

.nav-icono{
        display: flex;
        padding: 8px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;

        
        width: 56px;
        height: 268.70917;
}

.nav{
        display: inline-flex;
        height: 992px;
        padding: 8px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;

        border-radius: 8px;
        background: var(--ui-white, #FFF);

        width: 72px;
        height: 992px;
}
</style>
   
