<template>
  <div class="card">
    <img v-bind:src="respuestaApi.image" />
    <div>
      <h6 style="text-transform: uppercase">
        HOME / SHOP / <b style="color: black">{{ respuestaApi.category }}</b>
      </h6>
      <h2 style="color: black; text-shadow: 0.5px 0.5px 1px #818181">
        {{ respuestaApi.title }}
      </h2>
      <h6 style="color: black">
        <span v-if="rate >= 1" style="color: #e2702b; text-shadow: 0.5px 0.5px 1px #818181">★</span><span v-else
          style="color: #dda888">★</span>
        <span v-if="rate >= 2" style="color: #e2702b; text-shadow: 0.5px 0.5px 1px #818181">★</span><span v-else
          style="color: #dda888">★</span>
        <span v-if="rate >= 3" style="color: #e2702b; text-shadow: 0.5px 0.5px 1px #818181">★</span><span v-else
          style="color: #dda888">★</span>
        <span v-if="rate >= 4" style="color: #e2702b; text-shadow: 0.5px 0.5px 1px #818181">★</span><span v-else
          style="color: #dda888">★</span>
        <span v-if="rate >= 5" style="color: #e2702b; text-shadow: 0.5px 0.5px 1px #818181">★</span><span v-else
          style="color: #dda888">★</span> ({{ count }})
      </h6>
      <h5 style="
          color: #024e82;
          text-shadow: 0.5px 0.5px 1px #818181;
          font-weight: lighter;
        ">
        <s style="color: #818181">${{ oldPrice }}</s> ${{ price }}
      </h5>
      <p>{{ respuestaApi.description }}</p>
      <!--
        <button class="buttonAdd" v-on:click="agregarCarrito(respuestaApi.id)">ADD TO CART</button>
        -->
      <div>
        <router-link :to="`AddToCart/${respuestaApi.id}`" >
          <button  class="buttonAdd">ADD TO CART</button>
        </router-link>
      </div> 
    </div>
  </div>
</template>

<style>
.card {
  display: flex;
  width: 90%;
  margin: auto;
  color: #818181;
  text-align: left;
}

img {
  width: 30%;
  margin: 2%;
}

.buttonAdd {
  background-color: #024e82;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  font-weight: bolder;
}
</style>
  
<script>
import axios from "axios";

export default {
  name: 'ProductoPorId',
  data() {
    return {
      respuestaApi: "",
      price: 0,
      oldPrice: 0,
      rate: "",
      count: "",
    };
  },
  mounted() {
    const parametro = this.$route.params.numero;
    axios
      .get(`https://fakestoreapi.com/products/${parametro}`)
      .then((response) => {
        // Maneja la respuesta exitosa aquí
        this.respuestaApi = response.data;

        this.price = this.respuestaApi.price.toFixed(2);
        this.oldPrice = (this.respuestaApi.price + 10).toFixed(2);

        this.rate = Math.round(this.respuestaApi.rating.rate);
        this.count = this.respuestaApi.rating.count;
      })
      .catch((error) => {
        // Maneja el error aquí
        console.error(error);
      });
  },
  methods: {

    agregarCarrito(id) {
      let traerProd = localStorage.getItem("productos")
      
      const prod = [
        {
          id: id
        }
      ]

      if (traerProd === null) {


        localStorage.setItem("productos", prod);
      } else {
        traerProd.push({ id: id })
        localStorage.setItem("productos", prod);
      }
    },
  },
};

</script>
  
