<template>
  <router-view />
  <NachoVue/>
</template>

<script>  

import NachoVue from './components/NachoVue.vue';

export default {
  name: 'App',
  components: {
    NachoVue
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
